{% raw %}{% load i18n staticfiles %}<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ LANGUAGE_CODE }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% endraw %}{{ cookiecutter.project_title }}{% raw %}{% block title %}{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}{% endraw %}{{ cookiecutter.description }}{% raw %}{% endblock %}">
  <meta name="keywords" content="{% block meta_keywords %}TODO: Put your meta keywords in here. It's going to be used as default for pages that don't have a description.{% endblock %}" />
  <meta name="viewport" content="width=device-width">
  <meta property="og:locale" content="{{ LANGUAGE_CODE }}" />
  <meta property="og:type" content="{% block og_type %}website{% endblock %}" />
  <meta property="og:title" content="{% block og_title %}{% endraw %}{{ cookiecutter.project_title }}{% raw %}{% endblock %}" />
  <meta property="og:description" content="{% block og_description %}{% endraw %}{{ cookiecutter.description }}{% raw %}{% endblock %}" />
  <meta property="og:url" content="{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}" />
  <meta property="og:site_name" content="{% endraw %}{{ cookiecutter.project_title }}{% raw %}" />
  <meta property="article:publisher" content="{% endraw %}{{ cookiecutter.url }}{% raw %}" />
  <meta property="og:image" content="{% block og_image %}{% endraw %}{{ cookiecutter.url }}{% raw %}{% static "img/logo.png" %}{% endblock %}" />
  
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

  <link rel="stylesheet" href="{% static 'style/css/theme-default.css' %}" />
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script>window.html5 || document.write('<script src="{% static 'bower_components/html5shiv/html5shiv.js' %}"><\/script>')</script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <script>window.respond || document.write('<script src="{% static 'bower_components/respond/respond.js' %}"><\/script>)</script>
  <![endif]-->

  
  {% block extra_head %}{% endblock %}

</head>

<body class="{% block pageclass %}{% endblock %}">
<!--[if lt IE 8]>
  <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
  
{% block toolbar %}{% endblock toolbar %}
<div class="wrapper">
  {% include "includes/_site-nav.html" %}

  <header role="banner">
    {% block main-header %}
    <div class="hero-unit">
      <h1>Hello, world!</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a href="#" class="btn btn-primary btn-large">Learn more »</a></p>
    </div>
    {% endblock %}
  </header>
  
  <main role="main">
    {% block main-content %}
    <section class="firstsection">
      <div>
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details »</a></p>
      </div>
      <div>
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details »</a></p>
     </div>
      <div>
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn" href="#">View details »</a></p>
      </div>
    </section>
    {% endblock %}
  </main>



<footer role="contentinfo">
  {% block footer %}
  <hr />
  <p>&copy; {% endraw %}{{ cookiecutter.author_name }} {{ cookiecutter.year }}{% raw %}</p><!-- TODO: Enter company name -->
  {% endblock %}
</footer>

</div> <!-- /wrapper -->

<script src="https://oss.maxcdn.com/jquery/1.11.1/jquery.js"></script>
<script>window.jQuery || document.write('<script src="{% static 'bower_components/jquery/jquery.min.js' %}"><\/script>')</script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

{% if not debug %}
  <!-- TODO: Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
{% endif %}
</body>
</html>

{% endraw %}
